$color-primary: #D0D8FF;
$color-secondary: #728AFF;

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
}

.main-menu {
    background-color: $color-primary;
}

#nav-logo {
    margin: 10px;
    max-width: 200px;
    max-height: 30px;
}
