nav {
  margin: 0px;
  padding: 0px 2px 0px 2px;
  background-color: #17528A;
}
nav .nav-item {
  display: inline-block;
  vertical-align: middle;
}
nav .nav-logo {
  padding: 2px 0px 2px 0px;
}
nav .nav-link {
  color: #FEFEFE;
  background-color: #17528A;
  border-bottom: 2px solid #17528A;
  margin: 0px 0px 0px 20px;
  cursor: pointer;
}
nav .nav-link:link {
  color: #FEFEFE;
  text-decoration: none;
}
nav .nav-link:visited {
  color: #FEFEFE;
}
nav .nav-link:hover {
  color: #9AC778;
  border-bottom: 2px solid #9AC778;
}
nav .nav-link:active {
  color: #FEFEFE;
}
nav a {
  padding: 14px 2px 10px 2px;
}
nav button {
  border-radius: 0px;
  padding: 14px 2px 11px 2px;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: #FEFEFE;
  margin: 0px;
  padding: 0px;
}

.content {
  max-width: 880px;
  padding: 20px 20px 20px 20px;
  margin: 0px auto 0px auto;
}

a.link-bold {
  font-weight: bold;
}
a:link {
  text-decoration: none;
  color: #17528A;
}
a:visited {
  color: #17528A;
}
a:hover {
  color: #17528A;
  text-decoration: underline;
}
a:active {
  color: #7BB5E7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, sans-serif;
  color: #000000;
}

form:not(.nav-form) {
  background-color: #FEFEFE;
  border: 1px solid #7BB5E7;
  border-radius: 2px;
  padding: 14px;
}
form:not(.nav-form).form-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  column-gap: 14px;
  min-width: 50%;
  max-width: 50%;
}
form:not(.nav-form).form-vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  row-gap: 14px;
  min-width: 20%;
  max-width: 30%;
}
form:not(.nav-form) label {
  display: block;
  margin: 0px 0px 8px 0px;
}
form:not(.nav-form) .form-error {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 4px;
  color: #AF0000;
  max-width: 200px;
}
form:not(.nav-form) input[type=text], form:not(.nav-form) input[type=password] {
  background-color: #FEFEFE;
  border: 1px solid #7D7F7C;
  border-radius: 2px;
  padding: 4px 6px;
  min-width: 200px;
}
form:not(.nav-form) input[type=text]:focus, form:not(.nav-form) input[type=password]:focus {
  outline: none;
}
form:not(.nav-form) select {
  background-color: #FEFEFE;
  border: 1px solid #7D7F7C;
  border-radius: 2px;
  padding: 4px 6px;
  min-width: 100px;
}
form:not(.nav-form) select option {
  background-color: #FEFEFE;
  padding: 4px 6px;
}

button {
  color: #FEFEFE;
  background-color: #7BB5E7;
  border: none;
  border-radius: 2px;
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
}
button:hover {
  background-color: #17528A;
}

.message, .message-warning, .message-error, .message-success {
  border-radius: 2px;
  padding: 8px;
  margin: 4px 0px 4px 0px;
}
.message-success {
  background-color: #99D393;
  border: 1px solid #99D393;
}
.message-error {
  background-color: #DF8484;
  border: 1px solid #DF8484;
}
.message-warning {
  background-color: #F7EF5A;
  border: 1px solid #F7EF5A;
}

.search-result {
  background-color: #FEFEFE;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  margin-bottom: 12px;
  padding: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  column-gap: 4px;
  row-gap: 4px;
}
.search-result .book-title {
  font-weight: bold;
}
.search-result .book-summary > div {
  margin: 8px 10px;
}
.search-result .book-summary > div:first-child {
  margin-top: 0px;
}
.search-result .book-summary > div:last-child {
  margin-bottom: 0px;
}

.book-info {
  background-color: #FEFEFE;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  padding: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  column-gap: 4px;
  row-gap: 4px;
}
.book-info .book-details > div, .book-info h3 {
  margin: 8px 10px;
}
.book-info .book-details > div:first-child, .book-info h3:first-child {
  margin-top: 0px;
}
.book-info .book-details > div:last-child, .book-info h3:last-child {
  margin-bottom: 0px;
}
.book-info .book-details > div.core-detail, .book-info h3.core-detail {
  font-weight: bold;
}

/*# sourceMappingURL=app.css.map */
