$color-1: #17528A;
$color-2: #7BB5E7;
$color-3: #9AC778;

$neutral-1: #FFFFFF;
$neutral-2: #000000;
$neutral-3: #FEFEFE;
$neutral-4: #E0E0E0;
$neutral-5: #7D7F7C;

$color-success: #99D393;
$color-warning: #F7EF5A;
$color-error: #DF8484;
$color-error-text: #AF0000;

$font-stack: Helvetica, sans-serif;
$font-color: $neutral-2;

nav {
    margin: 0px;
    padding: 0px 2px 0px 2px;
    background-color: $color-1;

    .nav-item {
        display: inline-block;
        vertical-align: middle;
    }

    .nav-logo {
        padding: 2px 0px 2px 0px;
    }

    .nav-link {
        color: $neutral-3;
        background-color: $color-1;
        border-bottom: 2px solid $color-1;
        margin: 0px 0px 0px 20px;
        cursor: pointer;

        &:link {
            color: $neutral-3;
            text-decoration: none;
        }

        &:visited {
            color: $neutral-3;
        }

        &:hover {
            color: $color-3;
            border-bottom: 2px solid $color-3;
        }

        &:active {
            color: $neutral-3;
        }
    }

    a {
        padding: 14px 2px 10px 2px;
    }

    button {
        border-radius: 0px;
        padding: 14px 2px 11px 2px;
    }
}

body {
    font-family: $font-stack;
    font-size: 14px;
    color: $font-color;
    background-color: $neutral-3;
    margin: 0px;
    padding: 0px;
}

.content {
    max-width: 880px;
    padding: 20px 20px 20px 20px;
    margin: 0px auto 0px auto;
}

a {
    &.link-bold {
        font-weight: bold;
    }

    &:link {
        text-decoration: none;
        color: $color-1;
    }

    &:visited {
        color: $color-1;
    }

    &:hover {
        color: $color-1;
        text-decoration: underline;
    }

    &:active {
        color: $color-2;
    }
}
.horizontal-links > a, .horizontal-links > h3 {
    display: inline-block;
    margin-right: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack;
    color: $font-color;
}

form:not(.nav-form) {
    background-color: $neutral-3;
    border: 1px solid $color-2;
    border-radius: 2px;
    padding: 14px;

    &.form-horizontal {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        column-gap: 14px;
        min-width: 50%;
        max-width: 50%;

        select {
            min-width: 100px;
        }
    }

    &.form-vertical {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        row-gap: 14px;
        min-width: 20%;
        max-width: 30%;

        select {
            min-width: 200px;
        }
    }

    label {
        display: block;
        margin: 0px 0px 8px 0px;
    }

    .form-error {
        display: block;
        margin: 0px 0px 0px 0px;
        padding: 4px;
        color: $color-error-text;
        max-width: 200px;
    }

    input[type=text], input[type=password] {
        @extend .input-field;
        min-width: 200px;
    }

    input[type=number] {
        @extend .input-field;
        min-width: 186px;
    }

    textarea {
        @extend .input-field;
        font: inherit;
        min-width: 186px;
        min-height: 100px;
    }

    select {
        @extend .input-field;

        option {
            background-color: $neutral-3;
            padding: 4px 6px;
        }
    }
}

.input-field {
    background-color: $neutral-3;
    border: 1px solid $neutral-5;
    border-radius: 2px;
    padding: 4px 6px;

    &:focus {
        outline: none;
    }
}

button {
    color: $neutral-3;
    background-color: $color-2;
    border: none;
    border-radius: 2px;
    padding: 4px 6px;
    text-align: center;
    text-decoration: none;

    &:hover {
        background-color: $color-1;
    }
}

.message {
    border-radius: 2px;
    padding: 8px;
    margin: 4px 0px 4px 0px;

    &-success {
        @extend .message;
        background-color: $color-success;
        border: 1px solid $color-success;
    }

    &-error {
        @extend .message;
        background-color: $color-error;
        border: 1px solid $color-error;
    }

    &-warning {
        @extend .message;
        background-color: $color-warning;
        border: 1px solid $color-warning;
    }
}

.search-result {
    background-color: $neutral-3;
    border: 1px solid $neutral-4;
    border-radius: 2px;
    margin-bottom: 12px;
    padding: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    column-gap: 4px;
    row-gap: 4px;

    .book-title {
        font-weight: bold;
    }

    .book-summary > div {
        margin: 8px 10px;

        &:first-child {
            margin-top: 0px;
        }

        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.book-info {
    background-color: $neutral-3;
    border: 1px solid $neutral-4;
    border-radius: 2px;
    padding: 14px;
    margin: 0px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    column-gap: 4px;
    row-gap: 4px;

    .book-details > div, .book-details > a, h3 {
        margin: 8px 10px;

        &:first-child {
            margin-top: 0px;
        }

        &:last-child {
            margin-bottom: 0px;
        }

        &.core-detail {
            font-weight: bold;
        }
    }
}

.reviewed-book {
    margin: 0px 0px 14px 0px;
}

.star-icon {
    margin: 0px 8px 0px 0px;
    vertical-align: -1px;
}

.user-review {
    background-color: $neutral-3;
    border: 1px solid $neutral-4;
    border-radius: 2px;
    padding: 14px;
    margin: 0px 0px 20px 0px;

    & > div {
        margin: 8px 0px;

        &:first-child {
            margin-top: 0px;
        }

        &:last-child {
            margin-bottom: 0px;
        }

        &.core-detail {
            font-weight: bold;
        }
    }

    .right-align {
        float: right;
    }
}

.community-reviews {
    margin: 30px 0px 0px 0px;
}

.review-stats {
    margin: 0px 0px 14px 0px;
}

.review-sort {
    margin: 0px 0px 14px 0px;

    & > select {
        @extend .input-field;

        option {
            background-color: $neutral-3;
            padding: 4px 6px;
        }
    }
}